link(rel="stylesheet", href="index.styl")
.my-container
	.my-title.my-name Jamie Delamore
	.my-box.my-info
		.my-title Basics
		.my-details
			span.my-red.my-bold Age
			span 29
			br
			span.my-red.my-bold Birthday
			span February 19th
			br
			span.my-red.my-bold Gender
			span Woman
			br
			span.my-red.my-bold Height
			span 6'1
			br
			span.my-red.my-bold Weight
			span 180
			br
			span.my-orange.my-bold Likes
			span Working (out), chatting with people, drinking
			br
			span.my-orange.my-bold Dislikes
			span Running, mosquitos, lawyers
	.my-box.my-long-info
		.my-title About
		.my-details
			span.my-red.my-bold Appearance
			p.
				Jamie has pale blond hair and tan eyes. Her boxy face hosts a pair of ears that shoot out to the sides.
				Two scars above her left eye mark where a boiler explosion nearly killed her.
				Frown lines line her upper lip from long hours grimacing to the sound of metal pounding upon metal.
				Standing six foot one inch high, her height was an annoyance until she stopped caring about
				what other people thought. It still sometimes gets to her, but she is comfortable enough. Her wide shoulders,
				boxy build, and years of hard labor have resulted in her being incredibly strongly built.
			br
			span.my-red.my-bold Personality
			p.
				Jamie is a very "no nonsense" person. She takes pride in her work and enjoys what she does. She is a
				focused and rational thinker, but has a history of being too trusting, resulting in being taken advantage of.
				Despite this, she prefers to be loyal to friends and keep up with her responsibilities. She powers through
				challenges and is not afraid to stand in the face of danger.
			br
			span.my-red.my-bold History
			p.
				Long ago, Jamie was born in the magnificant city, the Village of Skyscrapers, Tengakure. She grew up
				leading the life of a civilian. Her father worked with the massive machines that built and maintained the city,
				even though he lacked the ability to run them. Following in her father's footsteps, she learned how to
				shape metal and build, or at least repair, the massive constructs.
			p.
				Then the wars began. Jamie did not like the ruthless way which Tengakure began gaining power and influence,
				and liked it even less that Konohagakure was doing the same. That was a hard time in her life. There was unrest
				in the workforce. People did not want to build machines of war. These were people building things that were
				practically a form of art. Jamie is fairly certain that, if her crew had even been asked to build, or even 
				to design, weapons of war, she and several of her fellows would have left the village.
			p.
				She was never asked to make machines of war. But she was asked to leave the village. Evacuated, even.
				Nearly the entire population was evacuated back then. Some were siphoned off to villages they passed, but
				most continued forwards. There was a home for them, ready to be filled, and in need of people like Jamie.
			p.
				But not that many people like Jamie. She found it hard to get work. Sentiment in the village was primarily
				pro-war, and her stance before the mass exodus was well known within the trades. Most places rejected her, and
				her talents went to waste. So when she walked pasted a ninja force recruiter one day, she decided to sign up. 
				Whatever training that involved, at least she would get paid.
			p.
				Years passed. Jamie learned the basics, and passed to the rank of Genin. But by this point, it had become
				obvious. The village was not in danger. Nobody cared about them. Tengakure had been destroyed, not by war,
				but by its own kage. Their legacy, their homeland, was gone. They could forge a new life here, but there was
				no real need for ninja. So the training stopped. Some were kept on as guards, but Jamie's talent meant she was
				not very well equipped for that task. So she went back to blacksmithing. Working on repairing the city that was
				much less sleek than their home. No longer was she repairing constructs that build for you, but rather she was
				repairing the buildings and pipes herself.
			p.
				Life can only be normal for so long. Most people had moved on from the war fears of yesteryear. But some
				had not. These were people tha thad thrived when everyone was scared and afraid. Now that they were out of
				luck, they looked to others to scam, frame, and delegitimize. Jamie's days in Tenga had marked her. They still
				knew she had been against the war, and vocally so. So they decided to mess with her. Ruin her life.
			p.
				Many people were harmed that night. For months, things had been going missing from warehouses.
				Small amounts, barely noticable. But a trickle left to run for long enough causes a flood. Jamie, and several
				of her peers, had their shops raided. They were found in possession of stolen goods. Enough materials to
				construct several bombs. Enough metal to make multiple armadas worth of weapons. And Jamie? Her workshop
				had the plans of a war weapon that had been designed but never built, hypothetically capable of destroying
				a village from the other side of the horizon.
			p.
				Jamie was lucky. She was made an example of early on: shackled in public. Her old friends and comrades were
				largely killed off within the day. Why was being publically shackled lucky? Because it gave enough time for
				the public to develop doubt. Everything had happened too quickly. An anonymous tip is placed to the police
				force. They raid every location less than an hour later. All of these materials are found practically out in
				the open. There was enough doubt that the police force was pressured to exile Jamie, rather than kill her.
				Some of her peers were similarly fortunate, but she was separated from them before being released. So now
				Jamie wanders the world, looking for purpose, and upset at her home.
	.my-box.my-ninja-info
		.my-title Ninja Traits
		.my-details
			span.my-green.my-bold Rank
			span D-Rank
			br
			span.my-green.my-bold Village
			span Missing-nin
			br
			span.my-green.my-bold Element(s)
			span Fire
			br
			span.my-green.my-bold Specialities
			span Taijutsu
			br
			span.my-green.my-bold Clan
			span None
	.my-box.my-stats
		.my-title Stats
		.my-details
			span.my-yellow.my-bold Health
			span 10
			br
			span.my-yellow.my-bold Chakra
			span 10
			br
			span.my-yellow.my-bold Stamina
			span 10
			br
			span.my-yellow.my-bold Speed
			span 5
			br
			span.my-yellow.my-bold Strength
			span 25
	.my-box.my-about
		.my-title The Player
		.my-details
			span.my-violet.my-bold Other Characters
			span None that are active anymore. Shiroi Shinzo, Ciel "Pico" Duchamp as some of my last characters.
			br
			span.my-violet.my-bold Faceclaim Name and Series
			span Blacksmith Girl by Aventio .
			br
			span.my-violet.my-bold Roleplay Sample
			span Do... do I need one? I'll write one if I do.