link(rel="stylesheet", href="index.styl")
.my-container
	.my-title.my-name Jamie Delamore
	.my-info
		.my-title Basic Information
		.my-details
			span.my-red.my-bold Age
			span 25
			br
			span.my-red.my-bold Birthday
			span February 19th
			br
			span.my-red.my-bold Gender
			span Woman
			br
			span.my-red.my-bold Height
			span 6'1
			br
			span.my-red.my-bold Weight
			span 180
	.my-long-info
		.my-title About
		.my-details
			span.my-red.my-bold Appearance
			span Appearance goes here
			br
			span.my-red.my-bold Personality
			span Personality goes here
			br
			span.my-red.my-bold History
			span