link(rel="stylesheet", href="index.styl")
.my-container
	.my-title.my-name Ryosei Hozuki
	.my-image
		img(src="https://i.imgur.com/23hvkrM.jpg", alt="Kuromaru from UQ Holder")
	.my-box.my-info
		.my-title Basics
		.my-details
			span.my-bold Age
			span 21
			br
			span.my-bold Gender
			span Yes
			br
			span.my-bold Village
			span Kirigakure
			br
			span.my-bold Rank
			span D-Rank
			br
			span.my-bold Title
			span None
			br
			span.my-bold Clan
			span Hozuki
			br
			span.my-bold Bloodline
			span Hydrification
			br
			span.my-bold Element(s)
			span Water
	.my-box.my-stats
		.my-title Stats
		.my-details
			span.my-bold Strength
			span C
			br
			span.my-bold Constitution
			span D
			br
			span.my-bold Stamina
			span D
			br
			span.my-bold Speed
			span D
			br
			span.my-bold Coordination
			span C
			br
			span.my-bold Intelligence
			span D
			br
			span.my-bold Perception
			span D
	.my-box.my-skills
		.my-title Skills
		.my-details
			ul
				li Ninjutsu
				li Taijutsu
	.my-box.my-abilities
		.my-title Unique Abilities
	.my-box.my-long-info
		.my-title About
		.my-details
			span.my-bold Appearance
			p.
				Ryosei has a very thin build with long, black hair. An angular jaw adorns the bottom of a largely androgynous face with red eyes.
				Ryosei stands at about 1.67 meters (5 foot 6 inches) and weighs in at 54.5 kilograms (120 pounds).
			br
			span.my-bold History
			p.
				You want to know about me? I mean, sure, I guess, but why? ... Seriously? ... Fine, whatever.
			p.
				I'm 21 years old. Don't really hate my parents, but don't really like them either? At least they're still around, better than some people.
				Not super supportive of me becoming a ninja. though. They'd prefer I went into the fishing business with them.
			p.
				What's with that look? Oh, you think it's funny that a few Hozuki were fishers? Fuck off, we're done here.
			p.
				Hmm? Oh wait, you're paying? Fuck it, fine, we'll continue.
			p.
				Look, I don't really know what you even want me to say. I was kind of late getting to academy, considering how against everything my parents were.
				So when I FINALLY joined in, it was already "too late" to learn easily. Which, like. I get it. I totally did need the extra time.
				But holy shit, those people were awful! Constantly suggesting I drop out, saying the life of a civilian was a better plan for me.
				You know what I told them? "Fuck you". Oh my god, that got their parents so mad!
				So anyways, I finally actually know my shit enough for them to be like "Yo, we can pass you, well done" and I get to stick it
				in the face of my parents before promptly moving out into supplied housing.
				Holy shit, those rooms are tiny! And it was a solid week before I felt comfortable using that bathtub.
			p.
				What's wrong with the bathtubs? Well I mean, probably the fact that the drain was atrocious and I couldn't really
				comfortably let myself go in that thing.
				And no, I'm not going into more details about that.
			span.my-bold Personality
			p.
				Ryosei can be a rather crude individual. Highly competitive, yet somewhat lazy, Ryosei still prefers to make friends over enemies.
				Though if you do make an enemy or Ryosei, your transgressions shall be remembered for a very long time.
				Ryosei does, however, have some difficulties making friends. Being crude and competitive is a great mask to wear
				when you are a shy extrovert. Yes, that is a very unfortunate combination. 
				Yes, Ryosei does not have a very good coping mechanism. No, it is not being worked on at this time. Though maybe later.